/* header */

.site-branding {
    margin-top: 0px;
    text-transform: capitalize;
}

.navigate {
    background-color: #323031;
    padding: 10px 0px;
    color: cornsilk;
    display: flex;
    margin: 0px;
}

.navigate li a {
    color: #ffff;
    padding-right: 30px;
    text-align: center;
    /* transition: all .2s ease-in; */
    text-decoration: none;
    position: relative;
}

.genre {
    padding: 20px;
    background-color: #323031;
    visibility: hidden;
    /* transition: all .2s easa-in; */
    position: absolute;
    color: white;
    margin-left: 0px;
    min-width: 200px;
    z-index: 10;
}


/* li .genre::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 7px solid transparent;
    border-bottom-color: #fff;
    top: 0;
} */

ol {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.genre .the_loai {
    /* padding-right: 20px; */
    display: flex;
}

.genre .the_loai a {
    text-align: left;
    padding-bottom: 20px;
    z-index: 10;
    /* transition: all .2s ease-in-out; */
}

.below ul {
    list-style: none;
}

.change_img button {
    margin-top: 20px;
}


/* The Modal (background) */

.modal1 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content1 {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* change background/image button */

.change_background2 {
    margin-right: 440px;
}


/* hover */

.navigate li a:hover {
    background: #fff;
    padding: 0px 5px;
    color: orangered;
    outline: none;
    text-decoration: underline;
}

.navigate li:hover ol {
    visibility: initial;
}


/* slideshow */

#group_slider {
    width: 100%;
    height: 500px;
}

.blog-item {
    position: relative;
}

.title {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 100%;
    max-width: 200px;
    text-align: center;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: bold;
    color: #04B431;
    font-size: 30px;
}

.blog-item .cont {
    width: 100%;
    height: 100%;
}

.blog-item .cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slick-dots {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.slick-dots li {
    margin: 0 10px;
}

.slick-dots .slick-active button {
    background-color: blue;
}

.slick-dots button {
    border: 0;
    width: 10px;
    height: 10px;
    font-size: 0;
    border-radius: 50%;
    padding: 0;
}

.slick-dots button:focus {
    outline: none;
}

.slick-dots button:hover {
    background: blue;
}

.slick-prev {
    position: absolute;
    left: 20px;
    top: 50%;
    z-index: 1;
    transform: translate(0, -50%);
}

.slick-next {
    position: absolute;
    bottom: 0;
    right: 20px;
    bottom: 50%;
    transform: translate(-50%, 0)
}


/* footer*/

.site-info {
    padding-top: 20px;
}

#recent-posts-5 :hover {
    color: chocolate;
}

#meta-5 :hover {
    color: chocolate;
}

.site-info {
    background-color: #303030;
}


/* main */


/* search */

.search-field {
    border-radius: 50%;
}

.widget-area .search-field :active {
    border: none;
}

.screen-reader-text :active {
    border-radius: 50%;
    border: none;
}

#search-5 .search-field :focus {
    border: none;
}

#search-5 .search-submit {
    border-radius: 50%;
    background-color: #04B431;
}


/* read more button */

.blogpost-button {
    background-color: orangered;
}

.blogpost-button:hover {
    background-color: peru;
}


/* comment */

.reply {
    color: blue;
}

.comment_views {
    font-size: 20px;
    color: blue;
}


/* post above */

.line_sci {
    background-color: lawngreen;
    color: lawngreen;
}

.line_art {
    background-color: burlywood;
    color: burlywood;
}

.line_culture {
    background-color: cornflowerblue;
    color: cornflowerblue;
}

.line_history {
    background-color: red;
    color: red;
}


/* login form */

.loginform {
    background-color: black;
    color: chocolate;
}


/* content_main login */

.theme_gallery_about_us {
    background-image: url("../images/koi.jpg");
    text-align: center;
    color: blue;
}

.theme_gallery_about_us h1 {
    color: black;
}

.content-login {
    background-color: whitesmoke;
    color: black;
    width: 500px;
    text-align: center;
    margin: auto;
    opacity: 90%;
}

#user .input {
    border: thin black .2cm;
}


/* 404 page */

.image_err {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#primary-menu {
    background-color: black;
}

#primary-menu li a {
    color: whitesmoke;
}


/* all post page */

.all_posts {
    background-color: whitesmoke;
}

.all_posts li {
    list-style: decimal;
    margin-bottom: 10px;
    flex-direction: row;
}


/* change image page */

.image_upload {
    height: 500px;
}


/* view post */

.views_post {
    color: blue;
}


/* back to top */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.back_to_top_btn {
    /* display: none; */
    position: fixed;
    bottom: 20px;
    font-size: 26px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    border: 3px solid #333;
    border-radius: 90%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
    z-index: 10;
    margin-left: 764px;
}

.back_to_top_btn:hover,
.back_to_top_btn:focus {
    background-color: red;
    color: #fff;
}

.content_single_page {
    scroll-behavior: smooth;
}

.frame_ads_cont {
    margin-left: 50px;
    width: 250px;
    height: 300px;
}